.social{
  border: 2px solid;
  background-color: antiquewhite;
  border-radius: 5px;
  height: 5px;
  width: 60px;
}
.social1{
  
  
  
}
body{
  background-color: #f1f1f1;
}
.mar{
  margin: 10px;
}
.commentArea{
  border: solid;
  height: 240px;
  border-radius: 7px;
  background-color: #fff;
  
}
#input{
  margin-bottom: 7px;
  height: 30px;
  width: 280px;
}
.comsub{
  height: 35px;
  width: 80px;
  color: ghostwhite;
  background-color: red;
  
}
.expass{
  display: flex;
  justify-content: center;
 
  align-content: center;
  margin-top: 40px;
  
  
}
#passwd{
  height: 25px;
}
.btn{
  height: 30px;
  margin-left: 7px;
  background-color: red;
  color: whitesmoke;
}
.popup{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 280px;
  color: red;
}
bdy{
  background-color: black;
}
.login{
  color: red;
  
  
}
.pRed{
  color: orangered;
}
body{
  background-color: #f1f1f1;
  
}
.p9{
  border: currentColor;
  
}